@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Passion+One&family=Sriracha&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-third);
}
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
h1,
h2 {
  font-family: "Passion One", cursive;
}
h3 {
  font-family: "Sriracha", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --color-primary: #66fcf1;
  --color-secondary: #45a29e;
  --color-third: #c5c6c7;
  --color-lightBlack: #1f2833;
  --color-black: #0b0c10;
}
